<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="col-2 navbar-brand" href="/">SBB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
		<div class="col-8 item collapse navbar-collapse" id="navbarSupportedContent">
	            <ul th:if="${category}" class="navbar-nav m-auto mb-2 mb-lg-0">
	            	<li class="nav-item">
	            		<a class="nav-link" th:classappend="${category.category=='notice'}?'fw-bold text-primary'"
	            			th:href="@{/question/list/notice}">안내 게시판</a>
	            	</li>
					<div class="vr mx-4 pc-only"></div>
	            	<li class="nav-item">
	            		<a class="nav-link" th:classappend="${category.category=='qna'}?'fw-bold text-primary'"
	            			th:href="@{/question/list/qna}">Q&A 게시판</a>
	            	</li>
	            	<div class="vr mx-4 pc-only"></div>
	            	<li class="nav-item">
	            		<a class="nav-link" th:classappend="${category.category=='humor'}?'fw-bold text-primary'"
	            			th:href="@{/question/list/humor}">유머 게시판</a>
	            	</li>
	            	<div class="vr mx-4 pc-only"></div>
					<li class="nav-item">
	            		<a class="nav-link" th:classappend="${category.category=='info'}?'fw-bold text-primary'" 
	            			th:href="@{/question/list/info}">정보 게시판</a>
	            	</li>
	        </div>
	        
	        <div class="col-2 item collapse navbar-collapse" id="navbarSupportedContent">
	            <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0">
	                <li class="nav-item">
	                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
	                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
	                </li>
	                <div class="vr mx-2 pc-only" sec:authorize="isAnonymous()" ></div>
	                <li class="nav-item">
	                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>
	                </li>
	            </ul>
	        </div>
    	
    </div>
</nav>
</html>